// show gear

@import "home";

.gear-card{
  display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  margin: 45px;
  // height: 100%;
  padding-top: 75px;
}

.title{
  font-weight: bold;
}

.image{
  width: 50%;
}

.image-gear{
  width: 100%;
  height: auto;
}

.info{
  width: 50%;
  padding: 35px;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 25px;
}

.bookings-title{
  font-weight: bold;
}
