<div container>
  <h1>Gears</h1>

  <% @gears.each do |gear| %>

    <ul>
      <li>
        <%= link_to gear.title, gear %>
      </li>
  <% end %>

  <%= link_to 'Add Gear', new_gear_path, class: 'add-gear-btn' %>
 </ul>
</div>
